@font-face {
    font-family: 'Roboto';
    src: url('material-design/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('material-design/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

